<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564404339425-usk8p2jjq21m8fgpd4besjrge7gdg130.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564404339425-usk8p2jjq21m8fgpd4besjrge7gdg130</string>
	<key>API_KEY</key>
	<string>AIzaSyAYOZyvmrHjP13TEU9kZAuVC-G1v09tTA8</string>
	<key>GCM_SENDER_ID</key>
	<string>564404339425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mfritzhand1.PlopIt</string>
	<key>PROJECT_ID</key>
	<string>plopit-aceb3</string>
	<key>STORAGE_BUCKET</key>
	<string>plopit-aceb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564404339425:ios:6c4ce66c518ce9b1deada0</string>
</dict>
</plist>